body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/* header */
.header {
    background-color: #1F2937;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0%;
    margin: 0%;
    font-size: 14px;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: lightgray;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
}


/* content-1 */
.content-1 {
    background-color: #1F2937;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 86px;
    padding-bottom: 86px;
    display: flex;
    align-items: center;
}

.superbold, .subtext {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.superbold {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.subtext {
    margin-top: 16px;
    margin-bottom: 16px;
    color: lightgrey;
}

.otter {
    width: 300px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
}

.otter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 5px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8px;
}